
body {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    background: #F5F5F5;
}

.container {
    margin: 0 auto;
    width: 1400px;
    background: #FFFFFF;
    padding: 125px;
}

.picture {
    width:1150px;
    height:500px;
    background-image:url("../resources/Rectangle1.jpg");
    background-size: contain;
    background-repeat: no-repeat; 
    margin-bottom: 150px; 
}
.picture-text {
    width: 470px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    letter-spacing: -0.5px;
    color: #fff;
    padding-top: 379px;
    padding-left: 40px;
}

.header {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.8px;
    margin-bottom: 30px;
}

.o-nas{
    margin-bottom: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #121212;
}

.about123 {
    width: 1048px;
    margin-bottom: 30px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
        
}

.yslugi {
    display: block;
    width: 255px;
    height: 67px;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    background-color: #ad1818;
    text-align: center;
    line-height: 67px;
    text-decoration: none;
    margin-bottom: 150px;
    letter-spacing: -0.6px;
}

.projects {
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.project__1 {
    width: 1150px;
    height: 548px;
    margin-bottom: 90px;    
}

.project__1__name{
    font-size: 30px;
    margin-top: 15px;
    color: #121212;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    margin-bottom: 15px;
}

.project__1__details {
    color:#AD1818;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.6px;
    text-decoration: none;
}

.project__2 {
    width: 1150px;
    height: 548px;
    margin-bottom: 90px;    
}

.project__2__name{
    font-size: 30px;
    margin-top: 15px;
    color: #121212;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    margin-bottom: 15px;
}

.project__2__details {
    color:#AD1818;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.6px;
    text-decoration: none;
}

.project__3 {
    width: 1150px;
    height: 548px;
    margin-bottom: 90px;    
}

.project__3__name{
    font-size: 30px;
    margin-top: 15px;
    color: #121212;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    margin-bottom: 15px;
}

.project__3__details {
    color:#AD1818;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.6px;
    text-decoration: none;
}

.projects__btn {
    display: block;
    text-align: center;
    font-family: Manrope;
    width: 100%;
    height: 153px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.9px;
    border-radius: 5px;
    border: 1px solid #AD1818;
    background-color: #FFF;
    color:#AD1818;
    
}

.projects__btn:hover {
    background-color: #AD1818;
    color: #FFF;
}

.container2 {
    margin: 0 auto;
    height: 1844px;
    width: 1400px;
    background: #121212;
}

.yslygi2 {
    color: #FFF;
    padding-top: 151px;
    padding-left: 127px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    margin-bottom: 34px;
}

.yslygi__container__1 {
    width: 1150px;
    height: 326px;
    margin-top: 34px;
    padding-left: 125px;
    padding-bottom: 60px;
}

.yslygi__container__1__text {
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.9px;
    padding-top: 15px;
}

.yslygi__container__2 {
    width: 1150px;
    height: 326px;
    margin-top: 34px;
    padding-left: 125px;
    padding-bottom: 60px;
}

.yslygi__container__2__text {
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.9px;
    padding-top: 15px;
}
.yslygi__container__3 {
    width: 1150px;
    height: 326px;
    margin-top: 34px;
    padding-left: 125px;
    padding-bottom: 60px;
}

.yslygi__container__3__text {
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.9px;
    padding-top: 15px;
}

.yslygi__container__4 {
    width: 1150px;
    height: 326px;
    margin-top: 34px;
    padding-left: 125px;
    padding-bottom: 150px;
}

.yslygi__container__4__text {
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.9px;
    padding-top: 15px;
}

.picture__2 {
    width: 1400px;px;
    height:717px;
    background-image:url("../resources/Rectangle\ 10.jpg");
    background-size: contain;
    background-repeat: no-repeat; 
    margin-bottom: 150px; 
}
.picture-text__2 {
    width: 540px;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #FFF;
    padding-top: 575px;
    padding-left: 125px;
}

